<%- include('../partials/adminHeader') -%>

<div class="page-content">
  <div class="page-header">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">Dashboard</h2>
    </div>
  </div>

  <div class="table-responsive" style="padding: 5%;">
    <table class="table">
      <thead>
        <tr>
          <!-- <th>#</th> -->
          <th>UserName</th>
          <th>Email Address</th>
          <th>Phone Number</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i=0; i < data.length; i++) { %>
          <tr>
            <td>
              <%= data[i].Username %>
            </td>
            <td>
              <%= data[i].Email %>
            </td>
            <td>
              <%= data[i].Number %>
            </td>
            <td>
              <% if (data[i].status) { %>
                <p style="color: red;">Blocked</p>
                <% } else { %>
                  <p style="color: green;">UnBlocked</p>
                  <% } %>
            </td>
            <td>
              <% if (data[i].status) { %>
                <!-- <a href="/admin/changeStatus?id=<%= data[i]._id %>" class="btn btn-success" onclick="return confirm('Are u sure, You want to unblock the user') ">Un Block</a> -->
                <a href="/admin/changeStatus?id=<%= data[i]._id %>" class="btn btn-danger"
                  onclick="confirmAndRedirect('<%= data[i]._id %>',event)">Block</a>


                <% } else { %>
                  <a href="/admin/changeStatus?id=<%= data[i]._id %>" class="btn btn-danger"
                    onclick="confirmAndRedirect('<%= data[i]._id %>',event)">Block</a>

                  <!-- <a href="/admin/changeStatus?id=<%= data[i]._id %>" class="btn btn-danger"
                        onclick="return confirm('Are u sure, You want to block the user')">Block</a> -->
                  <% } %>

            </td>

          </tr>
          <% } %>

      </tbody>
    </table>
  </div>

  <%- include('../partials/adminFooter') -%>