<%- include('../partials/adminHeader') -%>
  <style>
    .flash-message {
      transition: opacity 0.5s ease-out;
    }

    /* .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 250px;
      background-color: #f8f9fa;
      overflow-y: auto;
      padding: 20px;
    } */
  </style>
  <!-- Sidebar Navigation -->
  <ul class="list-unstyled">
    <li><a href="/admin/dashboard"> <i class="icon-home"></i>Dashboard</a></li>
    <li><a href="/admin/users"> <i class="fa fa-bar-chart"></i>Users</a></li>
    <li class="active"><a href="/admin/category"> <i class="fa fa-building-o"></i>Category</a></li>
    <li><a href="/admin/products"> <i class="icon-grid"></i>Products</a></li>
    <li><a href="/admin/coupons"> <i class="fa fa-percent"></i>Coupons</a></li>
    <li><a href="/admin/orders"> <i class="icon-padnote"></i>Orders</a></li>
  </ul>
  </nav>
  <!-- Sidebar Navigation end-->

  <div class="page-content">
    <div class="page-header">
      <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Category</h2>
      </div>
    </div>

    <!-- Flash Messages Section -->
    <div class="container">
      <% if (errorMessages.length> 0) { %>
        <div class="alert alert-danger flash-message">
          <% errorMessages.forEach(function(error) { %>
            <p>
              <%= error %>
            </p>
            <% }) %>
        </div>
        <% } %>
          <% if (successMessage.length> 0) { %>
            <div class="alert alert-success flash-message">
              <p>
                <%= successMessage %>
              </p>
            </div>
            <% } %>
    </div>

    <div class="title" style="margin-left: 80%;">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add New Category
      </button>

      <!-- Modal -->
      <!-- Add Category Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <form id="addCategoryForm" action="/admin/add-category" method="post">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label class="form-label">Name of the Category</label>
                  <input type="text" name="name" id="categoryName" class="form-control" required>
                  <div id="nameError" class="invalid-feedback"></div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Description</label>
                  <input type="text" name="description" id="categoryDescription" class="form-control" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Discount</label>
                  <input type="number" name="discount" id="categoryDiscount" class="form-control" required>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive" style="padding: 5%;">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Discount</th>
            <th>Listing status</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i=0; i < category.length; i++) { %>
            <tr>
              <td>
                <%= category[i].name %>
              </td>
              <td>
                <%= category[i].discount %>
              </td>
              <td>
                <% if (category[i].isListed) { %>
                  <a href="/admin/category/update-status?id=<%= category[i]._id %>" class="btn btn-danger"
                    onclick="confirmAndRedirect('<%= category[i]._id %>', event)">Unlist</a>
                  <% } else { %>
                    <a href="/admin/category/update-status?id=<%= category[i]._id %>" class="btn btn-success"
                      onclick="confirmAndRedirect('<%= category[i]._id %>', event)">List</a>
                    <% } %>
              </td>
              <td>
                <!-- Button triggering the modal with unique identifier -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop<%= i %>">Edit</button>

                <!-- Modal with unique identifier -->
                <!-- Edit Category Modal -->
                <div class="modal fade" id="staticBackdrop<%= i %>" data-bs-backdrop="static" data-bs-keyboard="false"
                  tabindex="-1" aria-labelledby="staticBackdropLabel<%= i %>" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <form id="editCategoryForm<%= i %>" action="/admin/update-category/<%= category[i]._id %>"
                        method="post">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel<%= i %>">Edit the Category</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <input type="hidden" name="id" value="<%= category[i]._id %>">
                          <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" name="name" value="<%= category[i].name %>" class="form-control"
                              required>
                            <div class="invalid-feedback"></div>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Description</label>
                            <input type="text" name="description" id="categoryDescription<%= i %>"
                              value="<%= category[i].description %>" class="form-control" required>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Discount</label>
                            <input type="text" name="discount" id="categoryDiscount<%= i %>"
                              value="<%= category[i].discount %>" class="form-control" required>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Change</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>

      <!-- Pagination Controls -->
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <% if (currentPage> 1) { %>
            <li class="page-item">
              <a class="page-link" href="/admin/category?page=<%= currentPage - 1 %>&limit=10" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <% } %>
              <% for (let i=1; i <=totalPages; i++) { %>
                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                  <a class="page-link" href="/admin/category?page=<%= i %>&limit=10">
                    <%= i %>
                  </a>
                </li>
                <% } %>
                  <% if (currentPage < totalPages) { %>
                    <li class="page-item">
                      <a class="page-link" href="/admin/category?page=<%= currentPage + 1 %>&limit=10"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    <% } %>
        </ul>
      </nav>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      hideFlashMessages();

      // Function to validate category name
      function validateCategoryName(nameInput, errorElement) {
        const name = nameInput.value.trim();
        if (name === '') {
          errorElement.textContent = 'Category name cannot be blank or just spaces.';
          nameInput.classList.add('is-invalid');
          return false;
        } else {
          errorElement.textContent = '';
          nameInput.classList.remove('is-invalid');
          return true;
        }
      }

      // Add Category Form Validation
      const addCategoryForm = document.getElementById('addCategoryForm');
      if (addCategoryForm) {
        addCategoryForm.addEventListener('submit', function (event) {
          const nameInput = this.querySelector('#categoryName');
          const errorElement = this.querySelector('#nameError');
          if (!validateCategoryName(nameInput, errorElement)) {
            event.preventDefault();
          }
        });
      }

      // Edit Category Forms Validation
      document.querySelectorAll('[id^="editCategoryForm"]').forEach(form => {
        form.addEventListener('submit', function (event) {
          const nameInput = this.querySelector('input[name="name"]');
          const errorElement = this.querySelector('.invalid-feedback');
          if (!validateCategoryName(nameInput, errorElement)) {
            event.preventDefault();
          }
        });
      });

      function hideFlashMessages() {
        const flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(message => {
          setTimeout(() => {
            message.style.opacity = '0'; // Fade out effect
            setTimeout(() => {
              message.remove(); // Remove the element from the DOM after fade out
            }, 500); // Time for fade out effect
          }, 3000); // Time before starting fade out
        });
      }

      async function confirmAndRedirect(categoryId, event) {
        event.preventDefault();

        const result = confirm("The changes you are about to make will have an effect on the user side. Do you want to continue?");

        if (result) {
          window.location.href = "/admin/category/update-status?id=" + categoryId;
        }
      }
    });
  </script>

  <%- include('../partials/adminFooter') -%>