<%- include('../partials/userHeader')-%>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <span>All Products</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <!-- Sidebar code can be included here if needed -->
            </div> 

            <div class="col-lg-9 col-md-9">
                <div class="row">
                    <% products.forEach(product => { %>
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item">
                                <% if (product.imageUrls && product.imageUrls.length > 0) { %>
                                    <!-- Product image -->
                                    <div>
                                        <img class="product__item__pic" src="<%= product.imageUrls[0] %>" alt="<%= product.name %>">
                                    </div>
                                    <%= console.log('Image URL:', product.imageUrls[0]) %>
                                <% } else { %>
                                    <!-- Default image -->
                                    <div class="product__item__pic">
                                        <img src="/path/to/default-image.jpg" alt="Default Image">
                                    </div>
                                    <%= console.log('Using default image for product:', product._id) %>
                                <% } %>
                                <!-- Product details -->
                                <div class="product__item__text">
                                    <h6><a href="/product/<%= product._id %>"><%= product.name %></a></h6>
                                    <div class="rating">
                                        <% for (let i = 0; i < 5; i++) { %>
                                            <i class="fa fa-star <%= i < product.rating ? '' : 'inactive' %>"></i>
                                        <% } %>
                                    </div>
                                    <div class="product__price">₹ <%= product.price %></div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="pagination__option">
                        <% if (currentPage > 1) { %>
                            <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>">&laquo; Previous</a>
                        <% } %>
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <a href="?page=<%= i %>&limit=<%= limit %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
                        <% } %>
                        <% if (currentPage < totalPages) { %>
                            <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>">Next &raquo;</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<%- include('../partials/userFooter')-%>
