<%- include('../partials/userHeader')-%>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <span>Checkout</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="coupon__link"><span class="icon_tag_alt"></span> <a href="#">Have a coupon?</a> Click
                    here to enter your code.</h6>
            </div>
        </div>
        <form action="/checkout" method="POST" class="checkout__form">
            <div class="row">
                <div class="col-lg-8">
                    <h5>Billing detail</h5>
                    <div class="col-lg-12">
                        <div class="checkout__form__checkbox">
                            <label for="selectAddress">Select Address:</label>
                            <% if (addresses && addresses.length > 0) { %>
                                <% addresses.forEach(address => { %>
                                    <label>
                                        <input type="radio" name="address" value="<%= address._id %>">
                                        <%= address.addressline1 %>, <%= address.city %>, <%= address.state %>, <%= address.country %>, <%= address. pincode %>
                                    </label>
                                <% }); %>
                            <% } else { %>
                                <p>No addresses found. Please add a new address.</p>
                            <% } %>
                            <label>
                                <a href="/profile/addAddress">Add new address</a>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="checkout__order">
                        <h5>Your order</h5>
                        <div class="checkout__order__product">
                            <ul>
                                <% if (cart && cart.length > 0) { %>
                                    <% cart.forEach(item => { %>
                                        <li>
                                            <%= item.productId.name %> <span>₹ <%= item.productId.price %> x <%= item.quantity %></span>
                                        </li>
                                    <% }); %>
                                <% } else { %>
                                    <p>No orders found.</p>
                                <% } %>
                            </ul>
                        </div>
                        <div class="checkout__order__total">
                            <ul>
                                <li>Subtotal <span id="subtotal">₹ <%= cart.reduce((acc, item) => acc + (item.productId.price * item.quantity), 0) %></span></li>
                                <li>Total <span id="total">₹ <%= cart.reduce((acc, item) => acc + (item.productId.price * item.quantity), 0) %></span></li>
                            </ul>
                        </div>
                        <div class="checkout__order__widget">
                            <p>Select the mode of Payment</p>
                            <label for="check-payment">
                                Cash on Delivery
                                <input type="checkbox" id="check-payment">
                                <span class="checkmark"></span>
                            </label>
                            <label for="paypal">
                                PayPal
                                <input type="checkbox" id="paypal">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <button type="submit" class="site-btn">Place order</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Checkout Section End -->

<%- include('../partials/userFooter')-%>
