<%- include('../partials/userHeader') -%>
    <style>
        .change-address-btn {
            border-color: red;
            padding: 1% 2%;
        }

        .change-address-btn:hover {
            border-color: rgb(150, 14, 14);
        }

        #apply-coupon {
            margin-top: 2%;
            border-radius: 30px;
        }
    </style>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6 class="coupon__link"><span class="icon_tag_alt"></span> <a href="#">Have a coupon?</a> Click
                        here to select your coupon.</h6>
                </div>
            </div>
            <form id="checkoutForm" action="/checkout/place-order/" method="POST" class="checkout__form">
                <div class="row">
                    <div class="col-lg-12">
                        <h5>Billing detail</h5>
                        <div class="col-lg-12">
                            <div class="checkout__form__checkbox">
                                <label for="selectAddress">Select Address:</label>
                                <% if (defaultAddress) { %>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="address"
                                            value="<%= defaultAddress._id %>" id="defaultAddressRadio" checked>
                                        <label class="form-check-label" for="defaultAddressRadio">
                                            <%= defaultAddress.addressline1 %>, <%= defaultAddress.city %>, <%=
                                                        defaultAddress.state %>, <%= defaultAddress.country %>, <%=
                                                                defaultAddress.pincode %>
                                        </label>
                                    </div>
                                    <% } %>
                                        <div class="dropdown">
                                            <button
                                                class="btn d-inline-flex align-items-center rounded collapsed change-address-btn"
                                                type="button" id="addressDropdownButton" data-bs-toggle="collapse"
                                                data-bs-target="#addressCollapse" aria-expanded="false"
                                                aria-controls="addressCollapse">
                                                <i class="fa fa-caret-down"></i>&nbsp;&nbsp;Change
                                            </button>
                                            <div class="collapse" id="addressCollapse">
                                                <div class="card card-body">
                                                    <% if (addresses && addresses.length> 0) { %>
                                                        <% addresses.forEach(address=> { %>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                    name="address" value="<%= address._id %>"
                                                                    id="addressRadio<%= address._id %>">
                                                                <label class="form-check-label"
                                                                    for="addressRadio<%= address._id %>">
                                                                    <%= address.firstName %>, <%= address.addressline1
                                                                            %>, <%= address.city %>, <%= address.state
                                                                                    %>, <%= address.country %>, <%=
                                                                                            address.pincode %>
                                                                </label>
                                                            </div>
                                                            <% }); %>
                                                                <% } else { %>
                                                                    <p>No addresses found. Please add a new address.</p>
                                                                    <% } %>
                                                                        <a href="/profile/address/new"
                                                                            class="btn btn-danger mt-2">Add New
                                                                            Address</a>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <div class="checkout__order">
                                <h5>Your order</h5>
                                <div class="checkout__order__product">
                                    <ul>
                                        <% if (cart.length> 0) { %>
                                            <% cart.forEach((item, index)=> { %>
                                                <li>
                                                    <%= item.productId.name %> <span>₹ <%= item.productId.price *
                                                                item.quantity %></span>
                                                </li>
                                                <% }); %>
                                                    <% } else { %>
                                                        <p>No orders found.</p>
                                                        <% } %>
                                    </ul>
                                </div>
                                <div class="checkout__order__total">
                                    <% const subtotal=cart.reduce((acc, item)=> acc + (item.productId.price *
                                        item.quantity), 0); %>
                                        <% const deliveryFee=subtotal < 1000 ? 99 : 0; %>
                                            <% const total=subtotal + deliveryFee; %>
                                                <ul>
                                                    <li>Subtotal <span id="subt">₹ <%= subtotal %></span></li>
                                                    <% if (deliveryFee> 0) { %>
                                                        <li>Delivery Fee <span id="delivery">₹ <%= deliveryFee %></span>
                                                        </li>
                                                        <% } %>
                                                            <li>Total <span id="total">₹ <%= total %></span></li>
                                                </ul>
                                </div>
                                <div class="checkout__order__widget">
                                    <p>Select the mode of Payment</p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="pay" id="Cash on Delivery"
                                            value="Cash on Delivery">
                                        <label class="form-check-label" for="Cash on Delivery">Cash on Delivery</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="pay" id="upi" value="upi"
                                            checked>
                                        <label class="form-check-label" for="upi">UPI</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="pay" id="wallet"
                                            value="wallet">
                                        <label class="form-check-label" for="wallet">Wallet</label>
                                    </div>
                                </div>
                                <!-- Coupon Dropdown -->
                                <div class="form-group">
                                    <label for="coupon">Select Coupon:</label>
                                    <select name="coupon" id="coupon" class="form-control">
                                        <option value="">--Select Coupon--</option>
                                        <% coupons.forEach(coupon=> { %>
                                            <option value="<%= coupon.code %>">
                                                <%= coupon.code %> - <%= coupon.discountAmount %>
                                            </option>
                                            <% }); %>
                                    </select>
                                    <button type="button" class="btn btn-danger mt-2" id="applyCouponBtn">Apply
                                        Coupon</button>
                                    <button type="button" class="btn btn-secondary mt-2" id="revokeCouponBtn">Revoke
                                        Coupon</button>
                                </div>
                                <!-- Hidden inputs for amount and wallet -->
                                <input type="hidden" name="amount" id="amount" value="<%= total %>">
                                <input type="hidden" name="wallet" id="wallet" value="<%= user.wallet %>">
                                <input type="hidden" id="couponDiscount" name="couponDiscount" value="0">
                                <!-- <input type="hidden" id="pay" name="pay" value="0" /> -->
                                <button type="button" class="site-btn" id="placeOrderBtn">Place order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- Checkout Section End -->

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>

        function updateAmounts(newSubtotal, newTotal) {
            document.getElementById("subt").innerText = `₹ ${newSubtotal}`;
            document.getElementById("total").innerText = `₹ ${newTotal}`;
            document.getElementById("amount").value = newTotal;
            disableCODIfNeeded(newTotal);
        }


        function disableCODIfNeeded(total) {
            var codOption = document.getElementById("Cash on Delivery");
            var codLabel = document.querySelector('label[for="Cash on Delivery"]');
            if (total > 1000) {
                codOption.disabled = true;
                codLabel.style.color = 'grey';
                codLabel.innerHTML = "Cash on Delivery (Not available for orders above ₹1000)";
            } else {
                codOption.disabled = false;
                codLabel.style.color = 'black';
                codLabel.innerHTML = "Cash on Delivery";
            }
        }
        document.getElementById("applyCouponBtn").addEventListener("click", couponApply);

        function couponApply() {
            // Get elements and values
            var couponElement = document.getElementById("coupon");
            var amountElement = document.getElementById("amount");
            var total = parseFloat(amountElement.value);

            // Fetch and apply coupon
            fetch("/checkout/apply-coupon", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ code: couponElement.value, subtotal: total }),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Coupon apply response:', data);  // Add this line to check the response
                    if (data.success) {
                        document.getElementById("couponDiscount").value = data.discount; // Add hidden input to store discount
                        updateAmounts(data.newSubtotal, data.newTotal);
                        Swal.fire({ text: "Coupon applied successfully", icon: "success", confirmButtonText: "OK" });
                    } else {
                        Swal.fire({ text: data.message, icon: "error", confirmButtonText: "OK" });
                    }
                })
                .catch(error => console.error("Error:", error));
        }


        document.getElementById("revokeCouponBtn").addEventListener("click", couponRevoke);

        function couponRevoke() {
            // Get elements and values
            var couponElement = document.getElementById("coupon");
            var amountElement = document.getElementById("amount");
            var total = parseFloat(amountElement.value);

            // Fetch and revoke coupon
            fetch("/checkout/revoke-coupon", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ couponCode: couponElement.value, subtotal: total }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        updateAmounts(data.originalSubtotal, data.originalTotal);
                        Swal.fire({ text: "Coupon revoked successfully", icon: "success", confirmButtonText: "OK" });
                    } else {
                        Swal.fire({ text: data.message, icon: "error", confirmButtonText: "OK" });
                    }
                })
                .catch(error => console.error("Error:", error));
        }

       

        document.getElementById("placeOrderBtn").addEventListener("click", function () {
            var amount = document.getElementById("amount").value;
            var wallet = document.getElementById("wallet").value;
            var couponElement = document.getElementById("coupon");
            var paymentMode = document.querySelector('input[name="pay"]:checked').value;
            var address = document.querySelector('input[name="address"]:checked').value;

            if (paymentMode === "Cash on Delivery" && amount > 1000) {
                Swal.fire({
                    text: "Cash on Delivery is not available for orders above ₹1000. Please choose Wallet or UPI.",
                    icon: "error",
                    confirmButtonText: "OK"
                });
            } else if (paymentMode === "Cash on Delivery") {
                document.getElementById("checkoutForm").submit();
            } else if (paymentMode === "wallet") {
                if (wallet >= amount) {
                    fetch("/checkout/pay-with-wallet", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ amount: amount, address: address, couponDiscount: couponElement.value })
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log("Server response:", data);
                            if (data.success) {
                                // Redirect to order confirmation or show a success message instead of form submission
                                window.location.href = "/profile/orders";
                            } else {
                                Swal.fire({
                                    text: data.message || "Payment failed",
                                    icon: "error",
                                    confirmButtonText: "OK"
                                });
                            }
                        })
                        .catch(error => {
                            console.error("Error:", error);
                        });
                } else {
                    Swal.fire({
                        text: "Insufficient wallet balance",
                        icon: "error",
                        confirmButtonText: "OK"
                    });
                }
            } else {
                var options = {
                    key: "<%= process.env.RAZORPAY_KEY_ID %>",
                    amount: amount * 100,
                    currency: "INR",
                    name: "Mahabali",
                    description: "Test Transaction",
                    handler: function (response) {
                        alert(response.razorpay_payment_id);
                        document.getElementById("checkoutForm").submit();
                    },
                    prefill: {
                        name: "<%= user.firstName %>",
                        email: "<%= user.email %>",
                        contact: "<%= user.phone %>"
                    },
                    notes: {
                        address: "Your address"
                    },
                    theme: {
                        color: "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.on("payment.failed", function (response) {
                    Swal.fire({
                        title: 'Payment Failed',
                        text: 'There was an issue processing your payment.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Ensure it's a string
                            document.querySelector('input[name="pay"]:checked').value = "Payment pending";
                            document.getElementById("checkoutForm").submit();
                        }
                    });
                });
                rzp1.open();
            }
        });


        // Initialize COD availability on page load
        disableCODIfNeeded(<%= total %>);
    </script>
    <%- include('../partials/userFooter') -%>